main {
	position: relative;
	box-sizing: border-box;
}
section {
	float: left;
	width: 67%;
	box-sizing: border-box;
	padding: 2em;
}
aside {
	float: left;
	width: 33%;
	margin: auto;
	box-sizing: border-box;
	padding-left: 10%;
}
footer {
	clear: both;
}